* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --btnColor: rgb(253, 206, 0);
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
}

.eatsplit {
  display: flex;
  gap: 30px;
  width: 70%;
  height: 50%;
}
.section1 {
  width: 50%;
}
.list {
  margin-bottom: 30px;
  height: 320px;
  overflow: scroll;
}

.list-item {
  margin: 10px 15px 20px 15px;
}

.addfriend form {
  padding: 30px;
  background-color: bisque;
  margin-bottom: 25px;
  font-size: 19px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.5);
}
.addfriend p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.addfriend input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 50%;
}
.add-btn {
  float: right;
}
.list p {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.list-text {
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin: 5px;
}
.select-btn {
  float: right;
  margin-top: 15px;
  height: fit-content;
}
.bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
  width: 50%;
  background-color: bisque;
  border-radius: 10px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.5);
}

.bill-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  gap: 20px;
}
.bill-title {
  margin-bottom: 50px;
}
.bill-form {
  width: 80%;
  position: relative;
}
.bill-form p {
  font-size: 19px;
}
.bill-form p input {
  float: right;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
select {
  float: right;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  background-color: var(--btnColor);
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}
img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid;
}

.split-btn {
  width: fit-content;
  position: absolute;
  right: 5px;
  bottom: -20px;
  background-color: var(--btnColor);
  border-radius: 5px;
}

.listbk {
  background-color: bisque;
}

@media (max-width: 786px) {
  .app {
    justify-content: start;
  }
  .eatsplit {
    width: 100%;
    height: 100%;
    padding: 1px 5px;
    flex-direction: column;
  }
  .section1 {
    width: 100%;
  }

  .bill {
    width: 100%;
  }

  .split-btn {
    bottom: 5px;
    right: 0px;
  }
}
